[2018-07-24 14:34] toddjordan commented on #529
its back: https://emberjs.com/api/ember/3.3/functions/@ember%2Fdebug/assert

issue had to do with some refactoring in ember source that hid many documented items

[2018-07-24 14:34] #529 closed

[2018-07-24 14:35] toddjordan commented on #531
That class shouldn't be there. the fix would be to remove it.  Ember is not part of ember-data

[2018-07-24 18:13] ultimatemonty commented on #535
@toddjordan I think the big thing I was hoping to find in those docs is a list of events that can be subscribed to. The code examples show `render` and `render.handlebars` but it seems like there would be more? I could also be misunderstanding the purpose of the module.

[2018-07-26 07:20] ko2in commented on #538
@toddjordan I got these links from the following pages.

- https://guides.emberjs.com/release/applications/applications-and-instances/
- https://guides.emberjs.com/release/applications/dependency-injection/

I'm not sure about the link of Ember class as reported by @allinne.

[2018-08-01 03:12] allinne commented on #538
@toddjordan sorry for a delay, I'm on vacation.
I found broken link from this page
https://emberjs.com/api/ember-data/release/modules/ember-data

[2018-08-01 05:26] toddjordan commented on #538
The Application/ApplicationInstance links are fixed on the given pages.  Will need to remove the `Ember` link

[2018-08-01 18:19] nickschot opened #541 "`getOwner/setOwner` documentation disappeared for 3.3"
Docs for 3.2 are here: https://www.emberjs.com/api/ember/3.2/functions/@ember%2Fapplication/getOwner

The 3.3 link results in an error: https://www.emberjs.com/api/ember/3.3/functions/@ember%2Fapplication/getOwner

It seems the same is true for `setOwner`

[2018-08-01 20:58] toddjordan commented on #541
find the code in ember.js and make sure:

* documentation is still there and valid yuidoc
* that the file has an `@module @ember/application` and each function as a `@for @ember/application`
* its in a directory that yuidoc parses (according to yuidoc.json in the root of the ember.js project)

[2018-08-01 21:17] sukima commented on #505
Is this going to get fixed?

[2018-08-02 03:02] sivakumar-kailasam commented on #505
@sukima this has been fixed last week.

[2018-08-02 03:02] #505 closed

[2018-08-02 14:30] sukima commented on #505
@sivakumar-kailasam Sorry to refute:

![screen shot 2018-08-02 at 10 29 43 am](https://user-images.githubusercontent.com/70075/43590498-1897241c-963f-11e8-9e08-cf2355b11c66.png)

[2018-08-02 15:00] sivakumar-kailasam commented on #505
Sorry about that. It should be fixed now. The fix went into ember post 3.3 so any patch releases would resurface this issue & i'll have to manually fix it like i did for 3.3.1. Feel free to reopen it in case you notice this again.

[2018-08-02 18:41] pushups opened #542 "Ember Data link leads to 404"
<img width="340" alt="image" src="https://user-images.githubusercontent.com/573678/43603756-c1fea7b0-9648-11e8-8b68-62c54442eca9.png">

1. Go to https://emberjs.com/api/ember/release
2. Click the Ember Data link in the left nav

Result:
User is redirected to a 404 page

Expected result:
The documentation for Ember Data appears.

This only occurs on prod.

[2018-08-02 18:51] sivakumar-kailasam commented on #542
Sorry about that. It's sorted out now. Thanks for reporting

[2018-08-02 18:51] #542 closed

[2018-08-09 13:55] localpcguy opened #543 "Don't redirect ember-data lookups to home page on version switch from <=2.15 to >=2.16"
Currently, there isn't a way to map ember classes after the changes in 2.16, and the API docs redirect users to the home page of the API docs when they attempt to change from a version 2.15 or lower to a version 2.16 or higher.

We should exclude ember-data from this redirect as it does not have the same issue relating to changed class names, and so the version switcher should continue to work for

[2018-08-13 13:16] hakilebara opened #546 "Internal links don't work on the "Properties" tab of Ember API docs"
Linking to another section on the same page do not work on Ember API docs' `Properties` tabs

![image](https://user-images.githubusercontent.com/1991564/44033655-60b42c8e-9f0b-11e8-87f3-b8d5672bd583.png)

[2018-08-24 17:07] ef4 commented on #541
This is a reoccurring class of bug. We need automated test coverage in Ember that would require people to explicitly confirm they intended to drop an entry from the API docs.

[2018-08-24 18:09] ef4 commented on #541
I bisected ember, the offending commit was https://github.com/ember-learn/ember-api-docs/issues/541

[2018-08-29 11:26] jneurock opened #547 "Uncaught TypeError"
I'm currently seeing this error at [https://emberjs.com/api/ember/release](https://emberjs.com/api/ember/release):

[code]
I'm using Chrome 68 on macOS 10.3.6. Everything seems fine with Safari 11.1.2 and Firefox 61.0.2.

[2018-08-29 12:27] jneurock commented on #547
The landing page [https://emberjs.com/api/ember/release](https://emberjs.com/api/ember/release)

[2018-08-29 12:33] jneurock commented on #547
It works in incognito mode. I'm trying without extensions but still see the same error. I was seeing this in Chrome 67, too, then I upgraded to 68.

[2018-08-29 12:38] jneurock commented on #547
I emptied the page cache and it works now. Strangely, I see no differences in the versions of the `ember-api-dcos` and `vendor` JS files. I would be pretty surprised, given the details, that this would be reproducible. Feel free to close the issue or let me know if you'd like me to.

Thanks!

[2018-08-29 17:07] blimmer opened #548 "Can't drop down Ember version dropdown"
When clicking on the version dropdown, nothing happens and this error appears in the console.

<img width="405" alt="screen_shot_2018-08-29_at_11_06_55" src="https://user-images.githubusercontent.com/630449/44803442-bcb36280-ab7b-11e8-9092-0b9fd4feeb39.png">

[code]

[2018-08-29 17:28] toddjordan commented on #547
Seems to be working now.  maybe a temporary cache inconsistency when the new release hit.

[2018-08-29 17:28] #547 closed

[2018-08-29 17:29] toddjordan commented on #548
Hi thanks for reporting!  I'll need some more information since I can't reproduce:

* What browser
* what page are you on (url)
* have you tried a hard refresh/clearing browser cache?

[2018-08-29 18:31] blimmer commented on #548
After a hard refresh I'm seeing it less often, but still happening occasionally

<img width="647" alt="screen shot 2018-08-29 at 12 31 28" src="https://user-images.githubusercontent.com/630449/44807704-75cb6a00-ab87-11e8-9ec4-0aec7f8edd83.png">

https://www.emberjs.com/api/ember/release/classes/Component

[2018-08-29 18:35] blimmer commented on #548
Huh, it seems like it might have been a caching issue. I'm not seeing it anymore. I'll close this down for now, I'll keep an eye out for it again.

[2018-08-29 18:35] #548 closed

[2018-09-02 00:10] ef4 opened #549 "Docs search returning nothing for Ember 3.4"
Using the search box at https://emberjs.com/api/ember/3.4/modules/@ember%2Fapplication I get no results for any term.

[2018-09-02 17:04] sivakumar-kailasam commented on #549
This is because ember 3.4 pages index weren't indexed yet. We've been building indexes manually by running scripts locally, we're working on automating this & should be streamlined in a couple of weeks.

[2018-09-02 17:04] #549 closed

[2018-09-17 03:51] toddjordan commented on #504
This has been corrected in ember

[2018-09-17 03:51] #504 closed

[2018-09-22 18:35] archebyte opened #552 "Bad link"
https://www.emberjs.com/api/ember-data/release/classes/Ember

The "Ember" link found on this page:
https://www.emberjs.com/api/ember-data/release/modules/ember-data

<img width="938" alt="screen shot 2018-09-22 at 11 33 44 am" src="https://user-images.githubusercontent.com/18292613/45920614-9c658380-be5b-11e8-9067-a128e10c984b.png">

[2018-09-24 05:12] toddjordan commented on #552
Yep.  The link is brought in through ember-inflector, which is a third part library ember-data uses.  the yuidoc process essentially "assumes" that inflector falls under the ember-data module because no module(package) is given in that library.  Therefore since Ember is specified as a namespace for inflector, it shows up in the "classes" list (which shows both classes and namespaces).

_in the cas

[2018-09-24 05:17] toddjordan commented on #538
Tracking the Ember link in #552
Closing this issue since the application links are fixed.

[2018-09-24 05:17] #538 closed

[2018-09-25 23:22] JulianLeviston opened #553 "Missing breadcrumbs and documentation hierarchy context"
Hiya folks!

First up, nice new docs. They're very pretty and really generally much nicer looking.

I reckon they could be a bit better to use in this way, though:
Say I go here: https://www.emberjs.com/api/ember/3.4/functions/@ember%2Fobject%2Fcomputed/mapBy

Now, the trouble is there doesn't appear to be any breadcrumbs indicating location in the hierarchy that this function sits within.

Also,

[2018-09-25 23:35] jenweber commented on #553
Hey Julian, thanks for the kind words! You’re right that these are some UX shortcomings.

@toddjordan if someone worked on these things, would it conflict, complement, or duplicate work with your plans for a collapsible menu? I’m thinking a good PR for this issue might do breadcrumbs first.

[2018-09-25 23:48] JulianLeviston opened #554 "Links back into the source code repos"
Hi there,

First up, one of the amazingly cool things about Ember is our community. It's worth taking a moment to appreciate how really wonderful it is. We encourage each other to help, we collectively benefit each other by building upon the work we all did earlier, and we bolster each other by supporting new people and fostering care and a welcoming spirit. That's **really** nice. :heart:

Our we

[2018-09-28 20:17] toddjordan commented on #541
Looks like @Gaurav0 made a fix that has been merged into emberjs.  We need to port that fix to 3.3 and 3.4 and rerun our docs process.

[2018-09-28 20:34] toddjordan commented on #531
Thank you so much for reporting 🙇.  #552 is a duplicate of this, and I put a bunch of text around discussing how to fix there, so I'm going to close this issue in favor of that one.

[2018-09-28 20:34] #531 closed

[2018-09-28 20:53] toddjordan commented on #520
Searched it just now and the top 3 are as follows
![image](https://user-images.githubusercontent.com/3609063/46232907-d2fd3b80-c33e-11e8-9d73-c5de75297b21.png)

Number one is a non-affiliated to ember chinese site, which is not good.  Number's 2 and 3 are good as the point to the 3.1 version of the documentation before its gone (valid links)

@mansona any ideas on how to knock off the chinese site

[2018-09-28 20:57] toddjordan commented on #519
This could be a bug in the link in guides which is: https://www.emberjs.com/api/ember/release/classes/@ember%2Fobject%2Fcomputed/methods/alias?anchor=filterBy , which should be https://www.emberjs.com/api/ember/release/classes/@ember%2Fobject%2Fcomputed/methods/filterBy?anchor=filterBy

A fix should be made to ember-learn/guides-source

[2018-09-28 21:07] toddjordan commented on #488
Thanks @axyxnz so much for this pr, and sorry its taken us a while to get back around to it.  We're pushing to triage and push our pr/issue backlog down for hacktoberfest so we should be able to look at it in the next couple weeks.

[2018-09-28 21:14] betocantu93 opened #555 "Use defineProperty to define computed properties deprecation"
This deprecation

https://emberjs.com/deprecations/v3.x#toc_ember-meta-descriptor-on-object

suggests the use of defineProperty, but currently there is no documentation about it in @ember/object package, I actually noticed about this in the source of ember-paper

https://github.com/miguelcobain/ember-paper/blob/23df64bfab67fffdebaa1e617499effcb44ee204/addon/mixins/validation-mixin.js#L90

[2018-09-28 22:18] betocantu93 commented on #555
Closed in favor of ember.js repo

https://github.com/emberjs/ember.js/issues/16790

[2018-09-28 22:18] #555 closed

[2018-10-01 03:29] toddjordan commented on #469
So @Alonski has graciously gotten us most of the way there.  What's left is to test out the current branch that his work is on (3-0-upgrade) and maybe update the rest of the way.  @sivakumar-kailasam  can you remember any issues outstanding that you recall?  Is the project.nodeModulesPath deprecation mention above what is stopping this?

[2018-10-01 03:32] toddjordan commented on #468
Fix is in 3.1 and beyond.  Will need a patch release of the docs to fix in 3.0

[2018-10-01 03:33] toddjordan commented on #466
@sivakumar-kailasam any update on this issue?  Can we close?

[2018-10-01 03:34] toddjordan commented on #425
since is not getting properly set in the ember-jsonapi-docs repo.  until we fix that we can't merge the current PR.

[2018-10-01 04:02] sivakumar-kailasam commented on #466
We've handled this in the docs generator & it's no longer an issue

[2018-10-01 04:02] #466 closed

[2018-10-01 13:16] ynotdraw commented on #546
Howdy! Okay if I tackle this issue?

[2018-10-01 23:56] JulianLeviston commented on #553
I just started to look into this. Downloaded and set it up.

[2018-10-02 04:59] #546 closed

[2018-10-02 05:19] toddjordan commented on #553
something simple to look at would be to add a package field to functions.
Take for instance the alias function in `@ember/object/computed`:
![image](https://user-images.githubusercontent.com/3609063/46330355-96e90580-c5e0-11e8-91a4-0d33f8e92634.png)

Just add a module field with a link to the package.  Something like
**Module**: [@ember/object](https://emberjs.com/api/ember/3.4/modules/@ember%2Fob

[2018-10-02 06:06] #543 closed

[2018-10-11 03:07] #447 closed

[2018-10-11 03:07] #525 closed

[2018-10-11 03:19] #515 closed

[2018-10-11 22:51] hmbeale commented on #518
I'm going to take a crack at this.

[2018-10-11 22:52] toddjordan commented on #518
Hi @hmbeale thanks for looking to contribute!  There's a PR for this already though - #559

[2018-10-11 22:53] hmbeale commented on #518
Dang, should have checked.

[2018-10-19 20:05] theroncross opened #564 "Replace sendAction example in template helpers page with closure action"
The `Invoking an Action` section of the template helpers page uses [the now deprecated](https://emberjs.com/api/ember/release/classes/Ember.Templates.helpers/methods/yield?anchor=action) `sendAction` as an example.

[2018-10-27 14:26] toddjordan opened #571 "Scroll tests failing in master"
We recently upgraded to ember 2.18 (on our way to the latest), but the last commit is causing our scroll-checking acceptance tests to fail.

See: https://travis-ci.org/ember-learn/ember-api-docs/builds/446971338?utm_source=github_status&utm_medium=notification

[code]

[2018-10-27 18:51] jeffhertzler commented on #571
I've been looking into this. Essentially it boils down to the fact that the `willTransition` hook is not getting fired for some reason in this case, only the `didTransition` hook is firing. In a probably unrelated note, we are also trying to visit a class that doesn't exist in 2.16 (that's where the error is coming from). Swapping the visit call to use an existing class still doesn't fix the hook

[2018-11-01 08:36] chilicoder opened #575 "corrupted link"
on the page
https://www.emberjs.com/api/ember-data/release/classes/DS.ManyArray

when I click `Ember.MutableArray` link of Uses (https://www.emberjs.com/api/ember-data/3.5/classes/Ember.MutableArray)
it goes to 404

[2018-11-01 08:37] chilicoder commented on #575
I guess the right link is https://www.emberjs.com/api/ember/3.5/classes/MutableArray/

[2018-11-20 18:32] Gaurav0 commented on #541
The commit was included. :confounded:

[2018-11-20 18:58] Gaurav0 commented on #541
OK. It looks like `ember-owner` directory was moved to `@ember/-internals` in master at the time I made the commit, but is still in `packages` in Ember 3.5 so just cherry-picking it to 3.5 did not work. :man_shrugging:

[2018-11-28 10:40] mrmanand opened #577 "Showing 404 errp while click on ember in ember-data"

[2018-11-28 14:19] sivakumar-kailasam commented on #577
@jenweber The current page https://emberjs.com/api/ember-data/release doesn't provide a lot of value. Maybe we can come up with content similar to the [ember's index page](https://emberjs.com/api/ember/release)?

[2018-11-29 16:21] sivakumar-kailasam commented on #577
I initially thought of doing that but looking at the homepage of the ember api docs I wondered if it helps to do the same here.

[2018-11-30 08:25] mansona opened #579 "Ember Data search results only show up when in the Ember data section"
Steps to reproduce:

- Navigate to https://emberjs.com/api/ember/release
- search for `hasmany` (intended result Model.hasMany)
- No results found
- Navigate to https://emberjs.com/api/ember-data/release/modules/ember-data (by clicking `Ember Data` in the left nav)
- search for `hasmany`
- Shows results (including the intended result)

Expected behaviour:
As there is no visual difference between t

[2018-12-01 01:39] cyk opened #580 "Ember.Templates.helpers page throws 'getEach' of undefined"
Navigating to [Ember.Templates.helpers](https://emberjs.com/api/ember/release/classes/Ember.Templates.helpers) throws an `Cannot read property 'getEach' of undefined` error and breaks navigation until page is refreshed.

**To repro**

1. Visit https://www.emberjs.com/api/ember/release/classes/Ember.Templates.helpers
2. Click Ember (under Projects in sidebar)
3. Click on Ember.Templates.helpers (un

[2018-12-03 00:43] toddjordan commented on #577
I think this issue should be dedicated to clearing `Ember.` stuff from ember data, while a separate issue should be created for adding homepage for the ember data project (I agree with your suggestion btw)

[2018-12-04 16:31] MelSumner commented on #554
@JulianLeviston can you ping me on Ember Discord so we can discuss more? I'd like to help you make this idea happen.

[2018-12-04 18:09] toddjordan commented on #400
That link is no longer showing on the current level of code for that link.  Likely fixed upstream. Closing...

[2018-12-04 18:09] #400 closed

[2018-12-04 19:13] #314 closed

[2018-12-04 20:14] deanmarano opened #581 "Github link for source code 404 on API page for `set`."
When on https://emberjs.com/api/ember/3.5/functions/@ember%2Fobject/set the link circled below

<img width="1173" alt="screen shot 2018-12-04 at 10 09 03 am" src="https://user-images.githubusercontent.com/707107/49470104-c24dc380-f7ce-11e8-8e99-50651a197839.png">

links to https://github.com/undefined/tree/vundefined/packages/ember-metal/lib/property_set.ts#L28

which 404s.

[2018-12-07 05:16] jenweber opened #583 "Ember.Template.Helpers is missing since 3.1"
Here it is in 3.1:
https://www.emberjs.com/api/ember/3.1/classes/Ember.Templates.helpers

[2018-12-07 16:05] Gaurav0 commented on #583
It's there:
https://www.emberjs.com/api/ember/3.5/classes/Ember.Templates.helpers

However, transitioning to it from the front page causes an error.

[2018-12-07 16:09] #583 closed

[2018-12-07 16:10] toddjordan commented on #583
It doesn't show up in the left nav, I think is what jen was getting at.

[2018-12-09 23:17] toddjordan commented on #537
ok, checked back in on this issue.  In the ember canary(master) branch, we get rsvp documentation:
![image](https://user-images.githubusercontent.com/3609063/49704204-09c4bd00-fbde-11e8-92f5-00d2124c4e33.png)

Problem is on the release(3.6) and beta(3.7) branches they don't because rsvp 4.8.2 is being installed into node modules instead of 4.8.4 (which has the good docs).  There doesn't seem to be

[2018-12-11 22:56] #552 closed

[2018-12-19 15:34] jacobq opened #586 "Ember Data "extends" / "uses" links don't work"
I'm not sure if there's an easy fix for this, but lots of the links in the ember-data API docs are broken (lead to "ACK! 404 FRIEND, YOU'RE IN THE WRONG PLACE" page). It seems that the problem is that they include an `Ember.` prefix. For example, [`Ember.ArrayProxy` (broken)](https://www.emberjs.com/api/ember/3.5/classes/Ember.ArrayProxy) should point to [`ArrayProxy` (fixed)](https://www.emberjs.

[2018-12-19 15:35] #586 closed

[2019-01-02 05:25] uchihamalolan opened #587 "Cannot find api docs on RSVP.hash"
I was in the page of "specifying Route's Model" in the ember.js guides. In the subsection, "Multiple Models" there was a link to RSVP.hash (api docs). When I clicked the link, it shows error 404.

[2019-01-07 21:12] Gaurav0 commented on #587
Referred link is here: https://guides.emberjs.com/release/routing/specifying-a-routes-model/#toc_multiple-models

[2019-01-08 09:50] locks commented on #564
Moving to https://github.com/emberjs/ember.js.

[2019-01-08 10:50] mariogintili opened #588 "Docs for Route don't open on 3.6"
A picture is worth more than a thousand words 😄

![image](https://user-images.githubusercontent.com/3522106/50825555-367d0900-1331-11e9-8683-b1a912163e26.png)

[2019-01-08 11:41] mansona commented on #588
@mariogintili I'm a little confused 😖 is this the link you're going to https://emberjs.com/api/ember/release/classes/Route ?

because that seems to work for me 🤔

I have a sneaking suspicion that this is due to the release that is in the progress of coming out at the moment...

[2019-01-08 12:40] locks commented on #588
I also cannot reproduce and think it was due to the release!

[2019-01-08 12:56] mansona commented on #588
If it was because of the release, I'm curious as to what could have caused the inconsistency to put people in this odd state 🤔 I would imagine that if it's something in browser caches and some level of inconsistency, this could affect quite a few users. I guess it also depends on how long we have set the cache-control for these data files

[2019-01-08 13:36] mariogintili commented on #588
opens now guys!

[2019-01-08 20:03] mansona commented on #588
How do we feel about leaving this open as an issue to track "just after release some weird things happen"...

Or will that just cause noise and not be helpful?

[2019-01-15 12:44] gandalfar opened #590 "Code example in docs is cut off"
Reading docs for `mut` [helper,](https://www.emberjs.com/api/ember/3.7/classes/Ember.Templates.helpers/methods/mut?anchor=mut) the example is cut off:

![screenshot 2019-01-15 13 42 30](https://user-images.githubusercontent.com/13806/51181434-6f862200-18cb-11e9-87a7-c92941333dbf.png)

The full example code that should display is:
`{{my-child childClickCount=totalClicks click-count-change=(action (

[2019-01-18 14:45] Benjy1979 opened #591 "ArrayProxy Link is broken"
https://www.emberjs.com/api/ember-data/release/classes/DS.RecordArray

The "ArrayProxy" link is broken to a 404. It could be broken in a lot of places but this is the one I'm reporting.

[2019-01-22 22:51] JulianLeviston commented on #554
For others. Discussed. Mel will likely discuss with ember learning team soon. :)

[2019-02-06 07:10] kennethlarsen commented on #422
👋 @deanpapastrat - Yes, absolutely! I think the main idea here is that we would like a solution that uses native dom apis instead of jQuery.

Feel free to ping me here or on Discord (same username) if you need help getting started ✨

[2019-02-07 04:42] deanpapastrat commented on #422
Awesome! Any design principles we have documented that we can reference? Or should I just make it up as I go

[2019-02-07 06:18] toddjordan opened #593 "Add tests around the complex adapter findRecord function"
There are about 8 if/else statements in that block, and we should cover that logic in test.  I'll either create a unit test and test the function logic (with stubbed deps), or test at the store level (or some of both).

[2019-02-07 22:02] knownasilya opened #594 "Documentation missing for `(has-block)` and (has-block-params)` helpers"
Seems like these come from GlimmerVM, so not sure how those docs would be added to
https://emberjs.com/api/ember/release/classes/Ember.Templates.helpers

[2019-02-08 08:15] kennethlarsen commented on #422
@deanpapastrat So far there's https://ember-styleguide.netlify.com/ as a reference

[2019-02-08 09:19] locks commented on #594
Could you file this under https://github.com/emberjs/ember.js/ instead? I believe that is where it should be documented, as it is Ember that is exposing them from GlimmerVM.

[2019-02-10 03:29] prasannavijayan commented on #581
I will look into this.

[2019-02-14 06:15] prasannavijayan commented on #575
I'll take a look on this one.

[2019-02-26 15:21] ef4 opened #595 "Missing hasBlock template helper"
I can't find the hasBlock template helper anywhere in the docs. AFAIK it's public API.

[2019-02-27 08:45] kennethlarsen commented on #595
@ef4 There's a mention if it here: https://guides.emberjs.com/release/components/block-params/#toc_supporting-both-block-and-inline-component-usage-in-one-template

Is that sufficient?

[2019-02-27 13:23] jenweber commented on #595
All Ember public api needs to be findable in the API docs directly, so it’s not enough to have a mention in the Guides.

If someone wants to help with this, the steps are:
1. In the Ember.js codebase, find the declaration of hasBlock.
2. See if it has an `@class` declaration in the file, as part of a YUIdoc code comment. If it does not, add one. See other template helpers for examples
3. See if th

[2019-02-27 18:19] filipecrosk commented on #579
It looks like this issue is not happening anymore, at least the results for this `hasmany` search is working on both pages
![image](https://user-images.githubusercontent.com/194257/53513076-323fb300-3a79-11e9-9cc7-da146d4e565c.png)

[2019-02-27 18:22] filipecrosk commented on #581
Not able to reproduce this issue anymore, problem solved I think

[2019-02-27 18:26] filipecrosk commented on #580
Could not reproduce this error, I think it's fixed
![screen recording 2019-02-27 at 10 24 am](https://user-images.githubusercontent.com/194257/53513473-27d1e900-3a7a-11e9-888a-a0d732294675.gif)

[2019-02-27 18:40] deanmarano commented on #581
Confirmed! Thanks.

[2019-02-27 18:40] #581 closed

[2019-03-08 09:00] mansona opened #596 "Deploy the API docs on api.emberjs.com"
- [x] Remove the `rootURL` implementation for the API docs so that it doesn't need the `/api/` prefix to all paths
- [x] Deploy the branch with no `rootURL` on Heroku
  - We need to old site to still work while we are still swapping over
- [x] Setup a new fastly service for the api app.
- [x] add DNS entry for api.emberjs.com
- [ ] add redirects from emberjs.com/api to api.emberjs.com

[2019-03-08 09:16] sivakumar-kailasam commented on #596
The app's live on https://api.emberjs.com.

[2019-03-08 09:25] #596 closed

[2019-03-14 03:40] acorncom opened #598 "Remove potentially unused scroll setup"
While thinking about the scrolling system in this app, I noticed that https://github.com/ember-learn/ember-api-docs/blob/master/app/initializers/scroll-parent-shim.js appears to be unused.

It would be quite helpful to have someone double-check me on that and if that is indeed the case, to send in a PR with that removed. Doing so would also help reduce our usage of jQuery in the app, which would h

[2019-03-18 16:23] habdelra commented on #595
I can take this issue on.

[2019-03-18 16:30] rahulguptaio commented on #598
I'm going to investigate whether this library can be removed

[2019-03-18 17:11] habdelra commented on #595
I think there are a bunch of helpers that are more foundational to glimmer, like `{{yield}}`, `{{with}}` where the documentation was just put in the `packages/@ember/-internals/glimmer/index.ts`, despite the real functionality living deeper below. This seems to fall into that bucket, which probably explains why the documentation is missing from the API docs. The clearest place where I could find w

[2019-03-18 17:58] habdelra commented on #587
The RSVP.hash link on this page seems to be working now. the link resolves to https://www.emberjs.com/api/ember/release/classes/rsvp/methods/hash?anchor=hash, which is rendering the `RSVP.hash` docs.

<img width="1063" alt="Screen Shot 2019-03-18 at 10 56 24 AM" src="https://user-images.githubusercontent.com/61075/54552180-bdbbae00-496c-11e9-9365-d98d3c8f43e8.png">

[2019-03-18 18:15] habdelra commented on #591
The line in question declares the `@extends` in the documentation section looks like this:

[code]

https://github.com/emberjs/data/blob/master/addon/-private/system/record-arrays/record-array.js#L22

This in turn is serialized into the documentation URL:  https://api.emberjs.com/ember/3.8/classes/Ember.ArrayProxy

However, the ArrayProxy documentation actually lives at (note the missing `Ember.`)

[2019-03-18 18:18] habdelra commented on #594
There is a PR for half of this: https://github.com/emberjs/ember.js/pull/17767

[2019-03-18 18:54] habdelra commented on #594
Ok, I also added API documentation for `has-block-params` too in the PR above.

[2019-03-21 23:43] #587 closed

[2019-03-21 23:44] kennethlarsen commented on #587
Looks like it works now.

[2019-03-23 09:39] mehulkar commented on #595
Where does this documentation end up showing up for a user? I looked around on emberjs.com but couldn’t find it, and couldn’t find a reference to @emberjs/-internals either.

[2019-03-23 13:50] habdelra commented on #595
After this change is included in a released version of Ember it will show up here https://api.emberjs.com/ember/release/classes/Ember.Templates.helpers

[2019-03-28 01:58] toddjordan commented on #594
Addressed by #595

[2019-03-28 01:58] #594 closed

[2019-03-28 02:00] toddjordan commented on #591
if we change it to `@extends ArrayProxy` it will work.

[2019-03-28 02:03] toddjordan commented on #588
@mansona I'm gonna close bc we have ~70 issues I think this will rot and only contribute to noise.

[2019-03-28 02:03] #588 closed

[2019-03-28 02:04] #580 closed

[2019-03-28 02:07] toddjordan commented on #579
Thanks @filipecrosk for looking at these.

[2019-03-28 02:07] #579 closed

[2019-03-28 02:09] toddjordan commented on #575
The fix is to go into the ManyArray source in ember data and change the `@uses` to reference `MutableArray` instead of `Ember.MutableArray`

[2019-03-28 02:13] toddjordan commented on #554
@MelSumner would like to discuss with you to find out if there is are actionable tasks recorded somewhere so we can close this issue.

[2019-03-28 02:15] #553 closed

[2019-03-28 02:17] toddjordan commented on #524
@jessica-jordan is this still something we are planning on doing?  Looking to reduce our issue backlog.

[2019-03-28 02:22] toddjordan commented on #486
going to close this, and leave it as a limitation for now.

[2019-03-28 02:22] #486 closed

[2019-03-28 02:28] #488 closed

[2019-03-28 02:33] toddjordan commented on #56
Closing issue as its 3 years old and doesn't seem to be a priority

[2019-03-28 02:33] #56 closed

[2019-03-28 02:35] toddjordan commented on #161
no longer expose the pencil icon.

[2019-03-28 02:35] #161 closed

[2019-03-28 02:37] toddjordan commented on #207
Currently not actively working on an offline version.  We may pick this up in the future, but closing for now.

[2019-03-28 02:37] #207 closed

[2019-03-28 02:37] #214 closed

[2019-03-28 02:38] toddjordan commented on #214
Closing for now since we aren't currently supporting offline.  We may pick this up again soon.

[2019-03-28 02:38] toddjordan commented on #231
no longer api-beta

[2019-03-28 02:38] #231 closed

[2019-03-28 02:39] toddjordan commented on #245
fixed

[2019-03-28 02:39] #245 closed

[2019-03-28 02:42] toddjordan commented on #246
performance seems to be pretty good atm.  Maybe do some payload analysis and profiling in the future but for now we will continue as is.  Thanks for looking at it.

[2019-03-28 02:42] #246 closed

[2019-03-28 02:42] toddjordan commented on #288
May do this in future, but not in current active backlog.

[2019-03-28 02:42] #288 closed

[2019-03-28 02:45] toddjordan commented on #307
we route most of these to the landing page now, and are dropping support for routing lagacy properties and methods.

[2019-03-28 02:45] #307 closed

[2019-03-28 02:46] toddjordan commented on #297
since its not acted on in a few years and has not been pressing issue, closing

[2019-03-28 02:46] #297 closed

[2019-03-28 09:52] mansona opened #600 "http://api.emberjs.com redirects to Heroku url instead of https://api.emberjs.com and is bypassing Fastly"
Howdy folks 👋

Someone in the Ember community Discord noticed this a few weeks ago and it could be the cause of a lot of our performance issues! Especially if any of the people scraping the API docs are using http urls 🙈

### Steps to recreate

- visit http://api.emberjs.com
- get redirected to https://ember-api-docs-subdomain-setup.herokuapp.com/ instead of the expected https://api.emberjs.com

I

[2019-03-28 10:05] sivakumar-kailasam commented on #600
I'll have a look

[2019-03-28 16:36] sivakumar-kailasam commented on #600
I've disabled the TLS rule on fastly that did this redirection. I've added a module to the fastboot server that should take care of this issue, but it doesn't seem to work on heroku(it works locally & based on the code it should work there too).

Will dig into again when i get more time. For now both http & https versions of the site work.

[2019-03-28 17:01] mansona commented on #600
@sivakumar-kailasam am I right in saying that we can do heroku level redirects? I know it can sometimes be hard to get that stuff to work because the heroku redirects aren't great 😭

[2019-03-28 17:19] sivakumar-kailasam commented on #600
IMO, I don’t want to make the setup more complex by adding a nginx server in the mix😅 it should be fairly easy to fix this at the fastboot level.

[2019-03-29 06:43] #494 closed

[2019-03-29 06:49] toddjordan commented on #571
Seems to be working now.  Last travis run had 0 failures.

[2019-03-29 06:49] #571 closed

[2019-03-31 13:20] danwenzel commented on #580
Hi @toddjordan - I'm seeing this error if I visit https://api.emberjs.com/ember/3.4/classes/@ember%2Fobject%2Fcomputed/

[2019-04-01 01:33] toddjordan commented on #85
Moving to Feature Board https://github.com/ember-learn/ember-api-docs/projects/5

[2019-04-01 01:33] #85 closed

[2019-04-01 01:35] toddjordan commented on #134
Moving to feature board https://github.com/ember-learn/ember-api-docs/projects/5

[2019-04-01 01:35] #134 closed

[2019-04-01 01:38] toddjordan commented on #141
Moved to feature backlog board: https://github.com/ember-learn/ember-api-docs/projects/5

[2019-04-01 01:38] #141 closed

[2019-04-01 01:43] toddjordan commented on #176
Moved to Feature backlog project https://github.com/ember-learn/ember-api-docs/projects/5

[2019-04-01 01:43] #176 closed

[2019-04-01 01:47] toddjordan commented on #309
We now have a repo link on the api landing page:
![image](https://user-images.githubusercontent.com/3609063/55298945-82a28b80-53fe-11e9-9f28-a22306597b39.png)

[2019-04-01 01:47] #309 closed

[2019-04-01 01:49] toddjordan commented on #318
Tried listed scenario and works currently.

[2019-04-01 01:49] #318 closed

[2019-04-01 03:27] toddjordan commented on #473
Moving to Feature Backlog https://github.com/ember-learn/ember-api-docs/projects/5

[2019-04-01 03:27] #473 closed

[2019-04-01 03:34] toddjordan commented on #378
Moved to feature backlog project https://github.com/ember-learn/ember-api-docs/projects/5

[2019-04-01 03:34] #378 closed

[2019-04-01 03:35] toddjordan commented on #489
Moving to feature backlog https://github.com/ember-learn/ember-api-docs/projects/5

[2019-04-01 03:36] #489 closed

[2019-04-01 03:39] toddjordan commented on #433
fixt!

[2019-04-01 03:39] #433 closed

[2019-04-01 03:41] toddjordan commented on #471
Moved to feature backlog https://github.com/ember-learn/ember-api-docs/projects/5

[2019-04-01 03:41] #471 closed

[2019-04-01 03:44] toddjordan commented on #472
Moved to feature backlog https://github.com/ember-learn/ember-api-docs/projects/5

[2019-04-01 03:44] #472 closed

[2019-04-01 03:45] toddjordan commented on #474
Moved to feature backlog https://github.com/ember-learn/ember-api-docs/projects/5

[2019-04-01 03:45] #474 closed

[2019-04-01 03:46] toddjordan commented on #475
moved to feature backlog: https://github.com/ember-learn/ember-api-docs/projects/5

[2019-04-01 03:46] #475 closed

[2019-04-01 03:48] toddjordan commented on #518
fixed!

[2019-04-01 03:48] #518 closed

[2019-04-01 03:49] toddjordan commented on #524
added to feature backlog https://github.com/ember-learn/ember-api-docs/projects/5

[2019-04-01 03:49] #524 closed

[2019-04-01 03:51] toddjordan commented on #593
added to feature backlog https://github.com/ember-learn/ember-api-docs/projects/5

[2019-04-01 03:51] #593 closed

[2019-04-01 04:12] toddjordan commented on #537
Fixed in current build.  Should get backported, but is difficult based on the issue being with ember source.  Not impossible, but will take us coming up with a strategy for updating ember release docs without cutting an actually release.

[2019-04-01 04:12] #537 closed

[2019-04-01 15:15] danwenzel commented on #580
Note that I sometimes have to refresh a few times to get the error to show up.  And I'm not noticing that it breaks anything, I just see the error pop up in the console

[2019-04-03 09:53] locks opened #605 "Releases Dropdown is not working in ember website"
Original: https://github.com/emberjs/ember.js/issues/17854

[2019-04-03 10:26] anpenava opened #606 "Sticky nav on scrolls covers text"
I guess `.sticky-element--sticky-top` needs `z-index` to be set.
<img width="764" alt="Screen Shot 2019-04-03 at 11 20 36" src="https://user-images.githubusercontent.com/18396201/55472126-396f5900-5603-11e9-86de-ce5e921d171c.png">

[2019-04-03 18:53] toddjordan commented on #606
Hi, thanks for reporting. Can you give some info on this, like what browser, OS, url, and any other details you think might play into this?.  I don't see what you are seeing on your screen shot.

[2019-04-03 18:55] toddjordan commented on #605
@anpenava can you give me details on what you are doing (like going from which to which release)?  also can you try a hard refresh and see if this is still a problem?

[2019-04-03 19:04] anpenava commented on #605
It was happening I guess because of my slow network. I would visit this page and then I would click dropdown, before it starts to go to model anchor I guess that was the reason dropdown didn't work but If I wait for scroll to model anchor finish, and then scroll back to top works !

https://api.emberjs.com/ember/release/classes/Route/methods/model?anchor=model

[2019-04-03 19:18] toddjordan opened #607 "jumping to a section using a sticky header isn't properly placing scroll"
cc @knownasilya @simonihmig

When I go to the index list for a class (in this case EmberArray), and click a method (in this case mapBy), the scroll jumps to objectAt, which wasn't the case prior to the update to include sticky headers.  Seems that all links are slightly off, some more than others.

[2019-04-04 10:29] anpenava commented on #606
It is not happening anymore

[2019-04-04 10:29] #606 closed

[2019-04-06 03:21] toddjordan commented on #605
This may have to do with a temporary issue when there is a new release added.  The browser cache keeps some meta information about what releases are available, but there's a period of time to either client cache expiration or hard refresh where the mismatch of data causes an error.  We need to look at the way cache on the browser side.

See the following discord comments from @mansona
![image](htt

[2019-04-07 02:30] toddjordan opened #608 "search not working for 3.8 and 3.9"
No results for 3.8/3.9 search.

Generated jsonapi data changed slightly, throwing off the way we run/index our algolia searches.

[2019-04-07 02:34] toddjordan commented on #608
looking to try to get a fix for Monday

[2019-04-07 03:56] toddjordan commented on #608
Fixed it with https://github.com/ember-learn/algolia-index-update-scripts/pull/8

Already reindexed algolia and search is back online

[2019-04-07 03:56] #608 closed

[2019-04-12 01:13] Charizard commented on #607
I can confirm that when disabling `sticky-element`, the scroll works correctly. Also looks like maybe https://github.com/kaliber5/ember-sticky-element/issues/38 is the reason? I say maybe because I am not familiar with the `ember-sticky` add-on.

[2019-04-17 02:30] toddjordan commented on #607
@Charizard Looks like a possibility.  We maybe should consider disabling the feature until we get a resolution.

[2019-04-17 02:31] #598 closed

[2019-04-17 06:18] #425 closed

[2019-04-17 22:39] jacobq opened #609 "DS.RecordReference link broken"
https://api.emberjs.com/ember-data/release/classes/DS.RecordReference -> 404

1. Go to https://api.emberjs.com/ember-data/release/modules/ember-data
2. Click link for `DS.RecordReference` on left navigation
3. Get 404 page

[2019-04-17 22:41] jacobq commented on #609
Weird -- now it looks like it's working. :man_shrugging:

[2019-04-17 22:41] #609 closed

[2019-04-18 03:57] toddjordan commented on #469
currently on 3.4 lts

[2019-04-18 03:57] #469 closed

[2019-04-23 17:59] dbendaou commented on #441
I could tackle this one

[2019-04-23 19:50] dbendaou commented on #441
After some investigation, it seems that `ember-guide` itself as jQuery as an dependencies.
I've started with removing jQuery from tests suits.

[2019-04-27 04:39] jleja opened #613 "Some internal links lead to server error pages"
I was looking at the page https://api.emberjs.com/ember/3.9/classes/Location, and when attempting to click on one of the links within the page resulting in the following server error:
`Cannot GET /api/ember/release/classes/HashLocation`

![Screen Shot 2019-04-27 at 12 18 11 AM](https://user-images.githubusercontent.com/1759897/56844678-2bb79700-6882-11e9-9cf7-3045ad0a6675.png)

The main issue bein

[2019-05-08 13:56] Turbo87 opened #614 "Footer links lead nowhere"
e.g. they point to https://api.emberjs.com/guidelines instead of https://emberjs.com/guidelines

[2019-05-15 18:31] sivakumar-kailasam commented on #613
I'll look into this over the weekend.

[2019-05-22 13:29] Mikek2252 opened #617 "Code blocks in some functions pages not rendering correctly"
https://api.emberjs.com/ember/3.10/functions/@ember%2Fobject%2Fcomputed/filterBy

functions for ember object computed do not correctly render the examples.

I investigated it and it seems like the API does not return the full comment from the release build.

Example of response for filterBy:
[code]

It seems to have a problem with decorators when it fetches it from the inline documentation.
As see

[2019-05-22 14:03] jenweber commented on #617
Uh oh, thanks for pointing this out. I'll reach out to some people to see if we can get this fixed quickly.

[2019-05-22 16:42] sivakumar-kailasam commented on #617
This is going to take a little bit of effort to fix since this is a failure in the parsing process in ember-jsonapi-docs. Will try to get on it soon.

[2019-05-24 03:18] jenweber opened #618 "Unable to copy some code blocks"
This issue was confirmed on multiple machines. On pages like http://api.emberjs.com/ember/3.9/functions/@ember%2Fapplication/getOwner, it is strangely difficult to highlight the first few lines of code. I suspect something with the floating header is interfering, but I’m not sure what.

[2019-05-28 15:07] MelSumner commented on #618
@jenweber I'm seeing issues with the clipboard addon we're using when I try to build, I think we have some infra issues.

[2019-05-28 15:08] sivakumar-kailasam commented on #618
@MelSumner could you please post a stacktrace or a screenshot of the failure you're seeing?

[2019-06-04 12:37] sivakumar-kailasam commented on #441
jQuery itself still needs to be removed from the app after ensuring that the addons used in the app don't require it.

[2019-06-14 16:10] Benjy1979 opened #619 "Filter Function"
[API DOC](https://api.emberjs.com/ember/release/functions/@ember%2Fobject%2Fcomputed/filter)

The filter function should probably say whether returning true or false filters or doesn't. It only mentions a callback with no reference to how the callback filters.

[2019-06-18 11:15] Benjy1979 opened #620 "Adapter Docs have incorrect clippet"
On
https://guides.emberjs.com/v3.10.0/models/customizing-adapters/

It says that  "ember g adapter adapter-name"will give you

import DS from 'ember-data';

export default DS.JSONAPIAdapter.extend({
  namespace: 'api/v1'
});

But when I try it it actually gives:
import ApplicationAdapter from './application';
export default ApplicationAdapter.extend({
});

[2019-07-04 05:15] danDanV1 opened #621 "Anchor links for API website not working in Safari"
I first notice a few months ago...

Reproduce:
-Safari 12.1.1 on Mac OS.
https://api.emberjs.com/ember/3.10/classes/@ember%2Frunloop
-On the index tab, under "methods", click "debounce"

Expected:
-Shows the `debounce` method API details

Actual:
-You get page top of the `Methods` tab

Also broken are direct links.
https://api.emberjs.com/ember/3.10/classes/@ember%2Frunloop/methods/debounce?anchor

[2019-07-04 05:19] sivakumar-kailasam commented on #621
Thanks for reporting this @edeis53

[2019-07-05 15:20] ef4 opened #622 "Broken linkage between ember-data and ember API docs"
On this page:

https://api.emberjs.com/ember-data/3.10/classes/DS.RecordArray

 - the link with text `Ember.ArrayProxy` is broken.
 - and the methods and properties inherited from `Ember.ArrayProxy` are missing.

[2019-07-16 03:20] jenweber opened #623 "Internal urls have a stray "api" segment that breaks them"
In the ember.js codebase, any url in the form similar to `[EmberObject](/ember/release/classes/EmberObject)` renders as `http://api.emberjs.com/api/ember/release/classes/EmberObject` (note that the word `api` shows up twice, and it shouldn't)

This seems to be true going back multiple versions, but here's there are recent examples on this page: http://api.emberjs.com/ember/3.11/classes/Component

[2019-07-16 03:22] jenweber opened #624 "Ember Data 3.11 docs are missing"
This is a known issue - fixes are pending. The actual work will likely be done in https://github.com/ember-learn/ember-jsonapi-docs or the ember-data codebase

[2019-07-18 13:14] jenweber commented on #623
Be sure to check recently merged prs to see if something changed

[2019-07-18 13:18] sivakumar-kailasam commented on #624
This is fixed by https://github.com/emberjs/data/pull/6252. We're waiting for a 3.11 patch release with that commit to generate the docs.

[2019-07-18 13:24] sivakumar-kailasam commented on #617
This is fixed now.

[2019-07-18 13:24] #617 closed

[2019-07-18 13:32] sivakumar-kailasam commented on #541
Looks like its sorted out now https://api.emberjs.com/ember/3.11/functions/@ember%2Fapplication/getOwner

[2019-07-18 13:32] #541 closed

[2019-07-18 13:41] #480 closed

[2019-07-21 08:20] sivakumar-kailasam commented on #624
ember-data 3.11 docs are published

[2019-07-21 08:20] #624 closed

[2019-07-21 08:22] sivakumar-kailasam commented on #554
Closing this for now. Please reopen this with more details if we have them.

[2019-07-21 08:22] #554 closed

[2019-07-21 08:25] sivakumar-kailasam opened #625 "Ember data 3.11 docs is broken"
ember data went through some package restructuring as a result of which source code links are broken. This needs to be handled either at this app or at the json api docs generation phase.

[2019-07-26 02:11] thomascchen commented on #625
It looks like I can't access Ember Data API docs for any version at the moment.

[2019-07-26 03:41] sivakumar-kailasam commented on #625
Thanks for reporting this. An error when viewing the 3.11 docs seems to be causing this behavior.

I've updated this issue to cover this as well.

For anyone facing this, visit https://api.emberjs.com/ember-data/3.10/modules/ember-data & it should work as expected as long as you don't select the 3.11 docs. We'll get this sorted out asap.

[2019-07-27 20:37] Gaurav0 commented on #625
Was this fixed with the series of Ember Data 3.11 patch releases?

[2019-07-28 04:19] sivakumar-kailasam commented on #625
It's partially fixed. We're still working on fixing all aspects of it.

[2019-08-04 09:46] sivakumar-kailasam commented on #625
This should be fixed now. Do try a hard reload in case of issues.

[2019-08-04 09:46] #625 closed

[2019-08-04 09:49] sivakumar-kailasam opened #626 "Source code links in the docs aren't fully functional"
Not all of the github source code links in the docs work as expected. Especially in ember-data docs since 3.11.

[2019-08-15 05:32] jeffcressman commented on #626
I'm having the same problem. I can only view the API docs for Ember Data 3.12 and 3.11. If I try and switch to anything lower than 3.11 I get a 404.

I was having this issue with https://api.emberjs.com/ember-data/release/classes/Model trying to view the 2.18 docs.

[2019-08-15 05:36] sivakumar-kailasam commented on #626
Thanks for reporting @jeffcressman. In 2.18 model existed in https://api.emberjs.com/ember-data/2.18/classes/DS.Model so the app broke when it couldn't find it there. Ideally it should've landed on that version's index instead of the 404 page. We'll look into this.

[2019-08-21 20:09] chbonser opened #627 "Drop down version menu is not working for any version older than 3.11"
Selecting an older version routes to the 404 page

[2019-08-27 10:10] raulb opened #629 "Link to unloadRecord broken"
![]https://d.pr/free/i/dimyGJ.gif)

The reference to Ember Data is correct, but neither of those two links (see screenshot) bring you to the right place which should be:

It should link to https://api.emberjs.com/ember-data/3.12/classes/Model/methods/unloadRecord?anchor=unloadRecord

[2019-09-02 16:34] toddjordan commented on #627
@chbonser thanks for reporting. I just tried on Chrome/OSX and could not reproduce.  Is there a different browser/OS pair you are working with?  Are there any specific steps you are performing that reproduces this?

[2019-09-02 16:37] toddjordan commented on #627
Also tried on Safari and Firefox

[2019-09-02 16:41] toddjordan commented on #623
This likely happened when we maded the transition from ember.js.com/api -> api.emberjs.com.  Easiest fix would be to just create an internal "api" route that redirects api/* to /*

[2019-09-02 16:43] toddjordan commented on #622
This needs to be changed in the ember data source to just point at `ArrayProxy` instead of `Ember.ArrayProxy` .  We no longer use/doc the Ember Namespace in new releases and the doc links reflect that.

[2019-09-02 16:53] toddjordan commented on #629
yeah, seems to be only happening on the landing page.  When you are in ember api docs you don't get the ember data results.  When you are in ember data api docs you get the results and the link works.

cc @sivakumar-kailasam

[2019-09-02 16:54] toddjordan commented on #621
only seeing this in Safari so far.

[2019-09-02 16:56] toddjordan commented on #623
duplicate of #613

[2019-09-02 16:57] toddjordan commented on #613
See #623

This likely happened when we maded the transition from ember.js.com/api -> api.emberjs.com. Easiest fix would be to just create an internal "api" route that redirects api/* to /*

[2019-09-02 16:57] #623 closed

[2019-09-02 17:00] toddjordan commented on #627
May be a temporary release window issue: see #605

[2019-09-02 17:01] toddjordan commented on #595
fixed ❤️

[2019-09-02 17:01] #595 closed

[2019-09-03 18:13] bertdeblock commented on #627
@toddjordan, came across this issue as well. You should be able to reproduce when navigating directly to => https://api.emberjs.com/ember-data/release/modules/@ember-data%2Fadapter and then selecting a version of ED prior to v3.11. Hope this helps.

[2019-09-03 18:15] bertdeblock opened #630 "HasManyReference should have "EXTENDS: Reference"?"
According to the source code:
https://github.com/emberjs/data/blob/master/packages/store/addon/-private/system/references/has-many.js#L18

`HasManyReference` extends `Reference`, however this does not seem to be reflected inside the docs:
https://api.emberjs.com/ember-data/release/classes/HasManyReference.

It is the case for `BelongsToReference` though:
https://api.emberjs.com/ember-data/release/

[2019-09-05 19:12] chbonser commented on #627
I see the same as @bertdeblock. I verified it occurs regardless of browser. I think the key is this happens for ember-data.

[2019-09-06 02:36] shez-h opened #633 "Ember Data 3.4 (LTS) Ember Data API Docs no longer available"
We are no longer able to access the Ember Data API docs for  v3.4 @ https://api.emberjs.com/ember-data, we get the 404 page.

[2019-09-06 02:40] sivakumar-kailasam commented on #633
Please access it via
https://api.emberjs.com/ember-data/3.4/modules/ember-data while we resolve
the related issue

Regards,
Siva

On Fri, 6 Sep, 2019, 8:06 AM shez-h, <notifications@github.com> wrote:

[2019-09-06 02:43] shez-h commented on #633
thanks, that link works

[2019-09-06 02:45] sivakumar-kailasam commented on #633
Closing this since we already have issues documenting this behavior

[2019-09-06 02:45] #633 closed

[2019-09-06 13:02] beddueimpossibile opened #634 "Broken links"
Links to the documentation of the previous version's api result in 404, but if I correct manually the URL changing '/release/' to, for example, '/3.4/' it works.

[2019-09-16 07:09] Malolan-Balaji opened #635 "Cannot find api docs for ember-data for ember version less than 3.12"

[2019-09-16 11:12] #614 closed

[2019-09-16 16:10] jenweber commented on #635
Thank you for reporting! I see the same thing.

The problem is that the top module has changed. It serves as the index, but this module does not exist on other versions.

We can solve this by adding a landing page similar to what you see at https://api.emberjs.com/ember/release

[2019-09-16 17:59] #635 closed

[2019-09-16 18:01] jenweber commented on #635
Fixed!

[2019-09-16 18:05] jenweber opened #638 "Create Ember Data landing page"
As of PR #637, we made the Ember API landing page show up on Ember Data too. But really, both Ember and Ember Data deserve their own landing pages!

To do:
- Following the same pattern as #637, create a new page that has a list of commonly-searched-for documentation for Ember Data. Use your instincts about what to include - likely models, serializers, and adapters.
- See the PR #637 for where to m

[2019-09-23 11:16] prasannavijayan opened #639 "Links Broken"
I tried to look some API in version 2.8 (ember-data). I navigated from 3.12 in the dropdown and it redirected me to 404 instead of taking me to correct URL.

[Link here](https://api.emberjs.com/ember-data/release/modules/@ember-data%2Fadapter)

Some API links connected to GitHub also broken -
https://api.emberjs.com/ember-data/3.12/classes/RESTAdapter/methods/shouldBackgroundReloadRecord?anchor=sh

[2019-09-23 18:38] jenweber commented on #639
Hi @prasannavijayan, in some cases it is expected that switching versions sometimes does not work, since the code itself defining the method has changed locations in later versions. However whenever links within one version are broken, that does need attention. Thanks for reporting!

[2019-09-24 17:08] Samsinite opened #640 "When searching for attr, clicking a result returns a 404"
Was unable to find `DS.attr` documentation for ember-data, and clicking on any of its search results also resulted in a 404.

[2019-09-25 01:32] sivakumar-kailasam commented on #640
On looking into this, searching for `attr` in the search box & clicking on the first result seems to result in 404.

Additionally `attr` doesn't show up under https://api.emberjs.com/ember-data/release/modules/@ember-data%2Fmodel

[2019-10-21 16:15] kategengler commented on #640
The second result also errors. I don't see anything in the network panel, but I see ```Error while processing route: project-version.functions.function Documentation item not found Error: Documentation item not found``` in the console.

[2019-10-21 16:17] kategengler commented on #640
https://api.emberjs.com/ember-data/3.13/functions/@ember-data%2Fmodel/attr exists

[2019-10-25 09:09] MichalBryxi opened #644 "Documentation website links / search / description"
This one will probably need to be broken down to multiple issues. So please bear with me:

Landing on the [class Helper](https://api.emberjs.com/ember/3.13/classes/Helper/methods) page this morning I noticed that although the example uses `format-currency` helper name, the code block for that helper says only `currency.js`

![Screenshot 2019-10-25 at 09 59 15](https://user-images.githubusercontent

[2019-10-25 09:10] MichalBryxi commented on #644
Sorry for making this more like a discussion with myself, but I wanted to document this before I forgot all the bits and pieces that I've done.

[2019-11-08 19:13] efx opened #646 "cannot install with node@12.x"
I am running v12.13.0. Same issue as #480.
[code]

Node 12 is LTS so it would be a good idea to support it.

[2019-11-10 17:40] #646 closed

[2019-11-12 09:57] #630 closed

[2019-11-14 16:00] jenweber opened #662 "API docs are broken for 1.x versions"
We confirmed for multiple browsers/regions during the learning team meeting.

<img width="1319" alt="Screen Shot 2019-11-14 at 10 55 09 AM" src="https://user-images.githubusercontent.com/16627268/68873699-02e7d980-06ce-11ea-8f9c-0c47a31db119.png">

[2019-11-14 17:19] sivakumar-kailasam commented on #662
The docs weren’t copied over to s3 properly. Syncing them again fixed it

[2019-11-14 17:19] #662 closed

[2019-11-15 01:08] jenweber commented on #627
Some fixes have gone into the API docs app over the past 2 months that should have addressed this issue. I am going to close it but if you still see this problem, please let us know.

[2019-11-15 07:36] bertdeblock commented on #627
@jenweber, I am still able to reproduce this issue.

[2019-11-15 21:01] efx commented on #622
@toddjordan I generated ember-data documentation locally from master and it appears to have been updated according to your comment:
https://github.com/emberjs/data/blob/282320abe1f73ffe21ca840a002131a8d710b60d/packages/store/addon/-private/system/record-arrays/record-array.js#L21
That was introduced in https://github.com/emberjs/data/pull/6280.

Locally I see it prints out as `ArrayProxy` but the

[2019-11-15 21:02] efx commented on #622
This is a duplicate of #591.

[2019-11-15 21:04] efx commented on #622
From a recent search of data, this is in a few places too:
[code]

[2019-11-16 10:39] Gaurav0 commented on #627
Agreed. This is still broken.

[2019-11-16 18:52] jenweber commented on #627
Reopened, sorry to hear that! @sivakumar-kailasam @toddjordan any ideas?

[2019-11-17 10:53] bertdeblock commented on #627
I also mentioned this a while back in the `ember-data` channel on Discord and this was Chris's response => https://discordapp.com/channels/480462759797063690/486549196837486592/615993948321873930
Might be of use?

[2019-11-17 12:27] Gaurav0 commented on #622
@toddjordan , As @efx mentioned, changing `@extends Ember.ArrayProxy` to `@extends ArrayProxy` in the source does not fix the link. @sivakumar-kailasam I was thinking of working on another redirect solution for this inside ember-api-docs. Do you think this is the best path forward?

[2019-11-17 13:39] sivakumar-kailasam commented on #622
I'd suggest adding ember-source to the yuidoc path as seen in https://github.com/emberjs/ember.js/blob/master/yuidoc.json#L11 in the ember-data yuidoc.json file so that ember data can identify the correct class. Then we can rewrite the link to the node_module path with the link to the corresponding ember api page during the doc generation.

[2019-11-17 20:41] Gaurav0 commented on #622
This duplicates all the Ember apis on the Ember Data page.

[2019-11-18 00:47] sivakumar-kailasam commented on #622
My bad, the config I wanted to mention was external data as mentioned in http://yui.github.io/yuidoc/args/index.html

[2019-12-04 21:46] tniezurawski commented on #590
@gandalfar

That's the same problem. Basically the content is not scrollable. Here, I'm trying to scroll via touchpad and by selecting text and moving to the right. In both cases that doesn't work:

![ember-api-docs-590](https://user-images.githubusercontent.com/4335166/70183293-ca905580-16e5-11ea-87b6-5ba683b5e4cc.gif)

The issue is not easy to solve. Snippets are built on `<table>` which is a ba

[2019-12-07 16:04] sivakumar-kailasam commented on #590
@tniezurawski yes, the markup is generated in `ember-jsonapi-docs` but the styling is a part of this repo. At some point of time we started facing these issues even though we didn't make changes to the related code.

We're working on a new iteration of the api viewer that replaces highlight.js that's used to generate these code blocks with something more modern.

If we can identify a solution for

[2020-01-25 13:40] MarcoUmpierrez opened #666 "Ember-data search result points to Ember"
Searching for `pluralize` shows this:
![imagen](https://user-images.githubusercontent.com/4463594/73121987-8b60e100-3f7f-11ea-82b1-7233cf2edf7a.png)

which links to the url:
![imagen](https://user-images.githubusercontent.com/4463594/73122003-cf53e600-3f7f-11ea-93f6-0bf4e64a3455.png)

but the correct url is in `ember-data`
`https://api.emberjs.com/ember-data/3.15/classes/Ember.Inflector/methods/pl

[2020-02-11 16:51] mehulkar opened #667 "Add Ember CLI Api docs"
Didn't see anything filed already for this, so kicking this off.

I looked into how this repo works to see if I could port over https://ember-cli.com/api/, but looks like it's making a request to api-store.emberjs.com, which points to AWS. I'm assuming some script/job is building and posting docs at release time to AWS, and the same needs to happen for Ember CLI. Will post more of my findings here

[2020-02-11 17:02] sivakumar-kailasam commented on #667
👋 Hey @mehulkar, thanks for reporting this 🙂. [ember-jsonapi-docs](https://github.com/ember-learn/ember-jsonapi-docs) handles the creation of content that gets published to the aws store.

A new rewrite is underway and is in its early stages (you can follow the progress [here](https://github.com/ember-learn/ember-api-docs/projects/5)). While we might not provide versioned docs for ember-cli, we'll

[2020-02-11 17:24] mehulkar commented on #667
Awesome. Would it make sense to at least add a page that showed *some* info for now? e.g. #668

[2020-02-13 15:21] jenweber opened #669 "Glimmer methods and properties are not search indexed"
This is a known byproduct of putting all the glimmer docs in one code comment. Perhaps we can write something that will include them in search anyway.

For example, if you search for constructor, it will never show you https://api.emberjs.com/ember/3.16/modules/@glimmer%2Fcomponent

[2020-02-13 16:23] sivakumar-kailasam commented on #669
how do you feel about removing this code from ember-source and link to the actual glimmer api docs?

[2020-02-20 23:04] jenweber opened #670 "Diagnose API docs downtime"
<img width="1196" alt="Screen Shot 2020-02-20 at 6 03 50 PM" src="https://user-images.githubusercontent.com/16627268/74988290-786cef80-540b-11ea-88c9-daffabd8d8f6.png">

Checking...
- [x] heroku provider status is green https://status.heroku.com/
- [ ] AWS status
- [x] heroku logs - see below
- [x] recent deploys - last merge was 9 days ago
- [ ] docs bucket

Heroku logs - 503 app crashed. Get log

[2020-02-20 23:26] jenweber commented on #670
It resolved on its own. These periodic stack traces might be worth looking into though:

[code]

[2020-03-09 09:27] bertdeblock commented on #670
Hi @jenweber, I noticed today that navigating directly to https://api.emberjs.com/ember/release results in the same error screen. I'm located in Belgium.

[2020-03-09 10:32] sivakumar-kailasam commented on #670
Our systems show that there was a 2min downtime. Did you notice it being
longer?

Regards,
Siva

On Mon, 9 Mar, 2020, 5:27 am Bert De Block, <notifications@github.com>
wrote:

[2020-03-09 10:49] cbliard commented on #670
At 11:05 (GMT+01) it was not working

[2020-03-09 10:57] bertdeblock commented on #670
@sivakumar-kailasam, yes it was definitely longer than 2 minutes for me. It's back up now though 👍.

[2020-03-09 10:58] sivakumar-kailasam commented on #670
Seems close to what's reported at http://status.emberjs.com/5540057

Regards,
Siva

On Mon, 9 Mar, 2020, 6:49 am Christophe Bliard, <notifications@github.com>
wrote:

[2020-03-11 16:22] Sound-Steward opened #672 "Links on Package @ember-data/store giving 404."
Clicking on `push`, `createRecord`, and `pushPayload` on [Package @ember-data/store](https://api.emberjs.com/ember-data/release/modules/@ember-data%2Fstore) yields a 404 in 3.16 documentation.

[2020-03-25 22:58] elfin-sbreuers opened #679 "Link from Ember data model API documentation to EmberData.DeprecatedEvented broken"
https://api.emberjs.com/ember-data/3.16/classes/EmberData.DeprecatedEvented

Is not reachable.

[2020-03-25 22:59] sivakumar-kailasam commented on #679
@elfin-sbreuers could you please post the page that links to this url?

[2020-03-25 23:04] elfin-sbreuers commented on #679
As written in the issue title:

https://api.emberjs.com/ember-data/3.16/classes/Model

But it's also broken for 3.17. I did not check other versions.

Cheers

Sivakumar Kailasam <notifications@github.com> schrieb am Do., 26. März
2020, 00:00:

[2020-03-26 04:14] Gaurav0 commented on #679
DeprecatedEvented is defined in https://github.com/emberjs/data/blob/v3.16.4/packages/store/addon/-private/system/deprecated-evented.js

[2020-03-31 08:37] mansona opened #689 "Design an approach for the sidebar in the api-docs"
This is blocked by https://github.com/ember-learn/empress-blog-ember-template/issues/23

We need to first come up with a solution for sidebars in each of our apps and then once that is done we need to implement a sidebar specifically for this app based on the design system.

Note: this is only blocked assuming that the blog is "going first" which is currently under discussion :+1:

[2020-03-31 08:39] mansona opened #690 "Implement the new sidebar"
Blocked by https://github.com/ember-learn/ember-api-docs/issues/689

[2020-04-02 13:58] mansona opened #691 "Design an approach for the search dropdown"
Here is the current implementation:

<img width="1440" alt="Screenshot 2020-03-30 18 18 05" src="https://user-images.githubusercontent.com/604117/77967373-fba71e00-72b2-11ea-9df9-67a5b310f956.png">
</details>

Note: you must include the "Search by Algolia" icon as we are

[2020-04-02 13:58] mansona opened #692 "Implement the new Search dropdown"
Blocked on https://github.com/ember-learn/ember-api-docs/issues/691

[2020-04-04 20:57] Samsinite opened #697 "Ember 1.13 docs are not accessible"
Hi,

Working on a client whom let their app get enormously out of date, which is running on 1.13, and well noticed that the 1.13 API documentation is not accessible.

[2020-04-04 20:58] Samsinite commented on #697
Looks like https://github.com/ember-learn/ember-api-docs/issues/627 reports the same problem, closing in favor of that one.

[2020-04-04 20:59] Samsinite commented on #627
Also same issue outside of ember data, with the 1.13 docs.

[2020-04-05 13:47] Gaurav0 commented on #697
This is a separate issue.

[2020-04-08 22:52] BryanCrotaz opened #701 "ember-data transform docs gives 404"
http://api.emberjs.com/ember-data/release

1. Select Ember Data 3.17
2. Click on Transforms link in the side bar.
3. Get 404 error

[2020-04-09 00:20] Gaurav0 commented on #701
I am unable to reproduce at this time. Also, I am concerned you weren't automatically redirected to https. Let me look into that as well.

[2020-04-10 23:23] Samsinite commented on #697
@Gaurav0 awesome!

[2020-04-11 09:02] Gaurav0 commented on #697
Fixed by #698

[2020-04-11 09:02] #697 closed

[2020-04-15 23:20] JPKramer707 opened #702 "An option provided by the search dropdown leads to a 404 error"
[See video](https://youtu.be/vNxl7E4cSD0)

[2020-04-16 02:22] Gaurav0 commented on #702
The link in the dropdown is

https://api.emberjs.com/ember/3.17/classes/Store/methods/queryRecord?anchor=queryRecord

fails because Store is in ember-data, not ember.

[2020-04-16 14:13] ef4 commented on #701
I'm able to reproduce this, it happens for every link in the list of classes in the sidebar for ember-data.

There's an exception occuring in `ember-api-docs/services/meta-store` right here:

<img width="780" alt="Screen Shot 2020-04-16 at 10 07 36 AM" src="https://user-images.githubusercontent.com/319282/79466251-54242e00-7fca-11ea-84cb-d82bf7015846.png">

The code is trying to access `this.proje

[2020-04-16 14:14] ef4 commented on #701
This only seems to be broken when you're on the latest (currently seeing 3.17). On other versions it works.

[2020-04-16 14:20] BryanCrotaz opened #703 "http docs do not redirect to https"
**GENERAL**
[code]

**RESPONSE HEADERS**
[code]

**REQUEST HEADERS**
[code]

[2020-04-16 15:46] jenweber commented on #701
We are not able to reproduce this - can you try again? Also please do a hard refresh and see if the problem persists.

[2020-04-16 17:59] Gaurav0 commented on #703
@sivakumar-kailasam Not sure how I broke this, but I must have. Can you have a look?

[2020-04-16 22:36] sivakumar-kailasam commented on #703
This issue used to exist before. The fastboot server [enforces this](https://github.com/ember-learn/ember-api-docs/blob/master/bin/ember-fastboot#L40-L45) via [express-sslify](https://github.com/florianheinemann/express-sslify#reverse-proxies-heroku-nodejitsu-and-others). Looking at the code, I can't spot anything that might be have caused this.

Another possible alternative we can try here is to

[2020-04-21 07:28] benmurden opened #704 "EmberObject returns 404"
https://api.emberjs.com/ember/release

This page has a link to EmberObject that points to the following URL

https://api.emberjs.com/ember/release/classes/EmberObject

however, this returns a 404 error.

[2020-04-21 11:00] locks commented on #704
I cannot reproduce 🤔

[2020-04-21 14:15] Gaurav0 commented on #704
Tried throttling to slow 3G and hard reloading. Still unable to reproduce. :(

[2020-04-21 14:20] Gaurav0 commented on #704
OK. Can reproduce by blocking domain https://api-store.emberjs.com

I'll assume the user was not able to connect to the domain but that fastboot was working, so it looks like all is well until he clicks EmberObject.

@sivakumar-kailasam @locks @toddjordan What sort of "more correct" error message should we show, or should we leave the 404 alone?

[2020-04-21 14:23] Gaurav0 commented on #701
This may be the same issue as #704 perhaps. @ef4 Can you look at your devtools network tab and see if xhr to https://api-store.emberjs.com failed?

[2020-04-21 14:47] alexeykostevich commented on #701
Another possible related issue is https://github.com/ember-learn/ember-api-docs/issues/672.

[2020-04-21 14:56] alexeykostevich commented on #701
@jenweber, the issue appears when a user changes the project and then change it back.

**Steps to Reproduce:**
1. Open https://api.emberjs.com/ember/release. You see the documentation for Ember now.
2. Click on **Ember Data** in **Projects**.
3. Click on **Ember** in **Projects**.
3. Click on any item in **Packages** or **Classes**.

**Expected Result**:
The documentation for a selected item shoul

[2020-04-21 15:02] alexeykostevich commented on #672
Possibly related issues:
- https://github.com/ember-learn/ember-api-docs/issues/704
- https://github.com/ember-learn/ember-api-docs/issues/701

[2020-04-21 15:04] BryanCrotaz commented on #701
I can 100% reproduce using @alexeykostevich method

[2020-04-21 15:06] Gaurav0 commented on #701
Thanks. This seems like something we can write a test for and fix!

[2020-04-21 22:25] benmurden commented on #704
This was actually more limited in scope - just this link (that I had tried) was not working. I had been all around various Enber and Ember Data APIs before encountering this one. I actually first encountered it while trying to get to EmberObject from an inherits reference.

Seems to be resolved on an incognito window, so maybe a cache issue.

[2020-04-21 22:27] benmurden commented on #672
I am seeing this here, too. Incognito window doesn't resolve it either, unlike in #704.

[2020-04-22 13:52] Gaurav0 commented on #704
Ok, these issues can obviously have multiple causes.

@benmurden You may have experienced a problem that could have been fixed by the solution @alexeykostevich provided in #672

[2020-04-22 23:32] benmurden commented on #704
Yes, the steps in https://github.com/ember-learn/ember-api-docs/issues/701#issuecomment-617232427 reproduce the issue for me.

[2020-04-24 02:00] jenweber commented on #701
This should theoretically be fixed now that #706 is merged. I am going to keep this issue open for comment for a week to confirm that this bug is squashed, so if you see any more 404s, please report them! Thanks everyone who helped out by reporting & debugging!

[2020-04-24 03:11] alexeykostevich commented on #701
I cannot reproduce the anymore. Great job, @Gaurav0 !

[2020-04-25 17:19] jayjayjpg opened #708 "Upgrade to Ember Source 3.16"
Part of https://github.com/ember-learn/ember-styleguide/issues/313

[2020-04-25 17:19] jayjayjpg opened #709 "Create a Staging App Demo for Testing the Website Redesign"
Part of https://github.com/ember-learn/ember-styleguide/issues/313

[2020-04-25 17:20] jayjayjpg opened #710 "Apply Website Redesign"
Part of https://github.com/ember-learn/ember-styleguide/issues/313

[2020-04-25 23:10] Gaurav0 commented on #708
@jayjayjpg This repo is already on ember-source 3.16

[2020-04-25 23:10] #708 closed

[2020-04-27 13:14] derekwsgray commented on #640
This bug is still there in the 3.17 docs. For something as frequently used as 'attr' to be missing from the API docs is ...unfortunate.

[2020-04-27 14:30] Gaurav0 commented on #640
The link in the search bar's target is https://api.emberjs.com/ember/3.13/functions/@ember-data%2Fmodel/attr when it should be https://api.emberjs.com/ember-data/3.13/functions/@ember-data%2Fmodel/attr

[2020-04-27 14:53] Gaurav0 commented on #709
@sivakumar-kailasam @mansona @locks  Can one of you handle this? I don't have permissions.

[2020-04-27 14:55] Gaurav0 commented on #704
@benmurden Is the issue fixed for you?

[2020-04-27 14:56] Gaurav0 commented on #702
Same issue as #640

[2020-04-27 14:59] Gaurav0 commented on #672
I can still reproduce. Must be a separate issue.

[2020-04-27 15:03] Gaurav0 commented on #666
Duplicate of #640

[2020-04-27 15:28] sivakumar-kailasam commented on #709
Done!

[2020-04-27 15:28] #709 closed

[2020-04-27 20:00] jenweber opened #712 "api.emberjs.com is down - leads to Heroku "nothing here yet" page"
Workaround for users - go directly to https://api.emberjs.com/ember/release

My hunch is this seems to be a problem with redirects since going to a specific path is ok.

[2020-04-27 20:24] locks commented on #712
I basically "turned it off and on again" by rolling back to an earlier deploy and then rolling forward to the latest deploy and it worked. I don't have much more insight at the moment 🤔 We should set up an alert in case we run into this situation again.

[2020-04-27 22:10] locks opened #713 "[request] Put the git sha in the application version"
Today the API Docs were down for a while and I wanted to check what was deployed and had to go some loops before finding the info. What does the team think about adding the git sha that is deployed to the application version?

[2020-04-28 06:37] benmurden commented on #704
@Gaurav0 The issue is fixed for Ember project links, but if I switch to Ember Data under Projects, all the links on the right return 404 with console errors like the following.
[code]

[2020-04-29 02:01] amyrlam commented on #712
It sounds like @sivakumar-kailasam transferred pingdom email alert to @MelSumner (am not familiar with pingdom myself, but sounds like it sets up a job that periodically checks the api docs URL, and if it's not up, sends an email.

Question: Was it a bad deploy after merge / green CI? If so, checking the deploy was successful should be part of merging a PR to the repo?

[2020-04-29 02:16] amyrlam commented on #703
If we want to go the Fastly route... we are using an override host in Fastly: https://manage.fastly.com/configure/services/2BpcOzgZIMJBEri0R1AvY8/versions/6/settings (needs access, can pair)

We'll need to figure out what's the best path if we want to use Force TLS, probably create a request setting instead of the override host option.
![image](https://user-images.githubusercontent.com/1372946/805

[2020-04-29 18:10] Gaurav0 commented on #703
I think we're going to have to; we already force https in heroku and it does redirect to https if you go directly to http://ember-api-docs-subdomain-setup.herokuapp.com but not if you go through the domain redirect from http://api.emberjs.com

[2020-04-29 18:12] Gaurav0 commented on #712
@amyrlam Right now there is no ci deploy; we manually deploy and check it. The site did not go down after a deploy; it went down randomly AFAICT. In fact, master is currently ahead of the production deploy.

[2020-04-29 18:40] jjff opened #714 "peekAll Api doc missing"
v3.17  https://api.emberjs.com/ember/release  top right seach for "store" and there e.g. for peekAll --> https://api.emberjs.com/404

[2020-04-30 17:46] amyrlam commented on #703
cc @rwwagner90

I will start documenting what I know about our https from Heroku to Fastly so can move forward on this. There will be a bit of spelunking on my end

[2020-05-06 03:11] amyrlam commented on #703
Possible to sync on the issue at Thursday's meeting (I can be there), or plan another time when Siva is free? Wasn't sure if should ping on Discord now, I self set a Slack "snooze"

Left some notes in Notion to get started, since all the things are in Heroku / Fastly accounts. Notion is also account-protected though. https://www.notion.so/emberteam/Infra-cleanup-2ff5fb7a10654f6195f4d4223c2313e5

[2020-05-07 13:25] rwwagner90 commented on #703
@amyrlam @Gaurav0 @sivakumar-kailasam I think it probably makes sense to do a one off meeting to discuss this stuff. Perhaps sometime next week?

[2020-05-07 16:37] abhilashlr commented on #590
@sivakumar-kailasam i’ve tried to fix this issue in the PR that is referenced, could you please take a look?

[2020-05-07 16:39] Gaurav0 commented on #714
This has been fixed, we need a deploy. @locks

[2020-05-07 16:48] amyrlam commented on #703
sounds good, am flexible, can meet on weekend too, let me know

[2020-05-07 17:54] Gaurav0 commented on #703
sounds good. Let me know when.

[2020-05-07 17:57] sivakumar-kailasam commented on #703
I'm available to meet on the weekend as well.

Regards,
Siva

On Thu, 7 May, 2020, 1:54 pm Gaurav Munjal, <notifications@github.com>
wrote:

[2020-05-07 19:01] Gaurav0 commented on #703
Can we do 12pm EDT?

[2020-05-07 19:16] amyrlam commented on #703
I can do 12pm Eastern (or later) Saturday or Sunday, let me know!

[2020-05-07 19:44] rwwagner90 commented on #703
12 Saturday should be fine with me. Can someone send out a meeting invite?

[2020-05-07 20:14] sivakumar-kailasam commented on #703
I don't think there's too much I can do to help at this point since we really need fastly support or someone familiar with this sort of setup to help us validate & tweak our fastly config.

Here are few things that are good to know while having a conversation with them,
- We can't remove fastly from this stack since our fastboot apps can't keep with the traffic we get. Our fastly sponsorship requi

[2020-05-07 20:19] sivakumar-kailasam commented on #714
created a review app

[2020-05-07 21:36] #590 closed

[2020-05-07 21:38] Gaurav0 commented on #714
fixed by #716

[2020-05-07 21:38] #714 closed

[2020-05-11 17:31] chrism opened #721 "Clicking the 'createRecord' link on this page 404’d"
In fact none of these three links in this section seem to work for me

https://api.emberjs.com/ember-data/release/modules/@ember-data%2Fstore

Thanks

[2020-05-11 19:46] Gaurav0 commented on #721
Duplicate of #672

[2020-05-11 19:46] #721 closed

[2020-05-21 17:36] locks opened #722 ""Defined in" links point to a non-existing version"
At the moment `v3.18.1` API docs link to a non-existing 3.18.3 tag on GitHub.

[2020-05-22 21:51] Gaurav0 commented on #722
@locks It appears that https://api-store.emberjs.com/rev-index/ember.json contains references to a version 3.18.3

[2020-05-24 20:44] sammichelson opened #723 "Mistake in ComputedProperty example"
Under https://api.emberjs.com/ember/release/classes/ComputedProperty the fullNameMacro decorator needs to be invoked for the Person class:

[code]
For the example below,
[code]

[2020-05-26 21:25] sivakumar-kailasam commented on #722
Did anyone try rerunning the app locally to see if the issue is reproducible?

[2020-05-26 22:54] Gaurav0 commented on #722
Yes. Running the app locally refers to the same s3 resources, so shows the same problem. Running the app against ember-jsonapi-docs does not seem to reproduce the issue,

[2020-05-26 23:06] sivakumar-kailasam commented on #722
oh i didn't notice the repo, i meant to ask if rerunning ember-jsonapi-docs fixes the issue. Since it does, someone with aws keys should run it again & publish the docs to s3 again.

[2020-05-26 23:41] Gaurav0 commented on #722
@locks @mansona Can one of you try this?

[2020-05-27 03:42] locks commented on #722
I have tried it twice since the initial release and it didn't seem to help, but I'll try again!

[2020-05-27 03:51] Gaurav0 commented on #722
@locks Thank you. Is there any way I can help?

[2020-05-27 17:04] rwjblue commented on #723
Thanks for reporting! Would you mind sending in a pull request fixing the example?

[2020-05-31 02:44] amyrlam commented on #703
I have this half working, redirects to the https Heroku URL. Have a support ticket in to figure out the last step!

[2020-06-01 13:55] sukima opened #724 "Over-agressive keyword Code highlighting"
Found that the code highlighting library is over-aggressive to the keyword `try` and considers a keyword **not** isolated by non alpha-numeric (identifier) still a keyword:

![Screenshot showing how the highlighter handles the text tryInvoke](https://user-images.githubusercontent.com/70075/83415922-eef79100-a3ed-11ea-86f1-92607e5df832.png)

[2020-06-02 21:58] amyrlam commented on #703
@BryanCrotaz this is solved with the Fastly setup now! Thanks @Gaurav0 @sivakumar-kailasam @rwwagner90 for bearing with me on this issue.

Please @ me if you see anything else and thanks for the report!

[2020-06-02 21:58] #703 closed

[2020-06-25 03:13] sivakumar-kailasam commented on #600
This is now resolved.

[2020-06-25 03:13] #600 closed

[2020-07-21 15:51] akankshadharkar commented on #672
Any updates on this? I'm facing the same issue today while trying to run the application locally

[2020-07-21 16:08] ijlee2 commented on #672
To provide more information, the links for `createRecord`, `push`, and `pushPayload` do seem to work if we visit the `Store` class page instead: https://api.emberjs.com/ember-data/release/classes/Store

I haven't looked at the repository code to see how the links for `@ember-data/store` are created (whether they are hard-coded or automatically generated), but I wondered if the difference between t

[2020-09-13 22:43] #491 closed

[2020-09-18 11:44] #666 closed

[2020-09-22 13:35] #640 closed

[2020-09-22 13:36] #702 closed

[2020-10-06 09:40] Sweet-Bob opened #730 "Class Component | Reference links doesn't work"
Class Component | Reference links doesn't work

![image](https://drive.google.com/uc?export=view&id=12aqWPLl9mPgkLDR765CKOW4rrnu6NyuN)

[2020-10-06 09:54] Sweet-Bob commented on #730
All links under "Extends" and "Uses" doesn't work.

[2020-10-16 03:51] jenweber opened #731 "Update the landing page to link to most common Octane concepts"
The [home page of the API docs](https://api.emberjs.com/ember/release) has a list of commonly-searched-for documentation, but it is missing some things! Add links for:
-The Components bullet point should link to both "Classic Components" (the existing link) and [Glimmer Components](https://api.emberjs.com/ember/release/modules/@glimmer%2Fcomponent)
- [Tracked](https://api.emberjs.com/ember/3.21/fu

[2020-10-16 03:54] jenweber opened #732 "Remove outdated import paths advice from the landing page"
The "How to import and use packages" section should be removed from the [api docs landing page](https://api.emberjs.com/ember/release). It was aimed at when we rearranged all the package import paths a long time ago.

The file you should change is here: https://github.com/ember-learn/ember-api-docs/blob/master/app/templates/project-version/index.hbs

[2020-10-16 13:49] JamesS-M commented on #731
I would like to work on this @jenweber

[2020-10-16 14:00] ijlee2 commented on #731
Thanks, @JamesS-M. I assigned the issue to you but may ask @jenweber to review your pull request.

[2020-10-16 14:19] cah-johnryan commented on #732
EmberFest Contributors Workshop: I am going to take a shot at this now

[2020-10-17 00:49] jenweber opened #735 "Update a redirect for the ember data legacy modules"
Between Ember Data 3.20 and 3.21, the `@ember-data` module was removed. However, we had some redirects from long ago that try to send people to this page. We should instead redirect them to the ember data index.

To-do:
- in `app/routes/data-class.js`, check if the new URL is to go to `@ember-data`. If it does, instead redirect to the index.
- It is expected that a test should fail after your chan

[2020-10-17 00:55] #732 closed

[2020-10-20 09:03] Ian-Yy commented on #735
Hi, may I try to do this?

[2020-10-20 12:29] jenweber commented on #735
It would be great to have your help! Thank you! If you get stuck and want to chat about it, you can find people to pair with in Ember’s Discord, in the dev-Ember-learning and Hacktoberfest channels: https://emberjs.com/community

[2020-10-23 12:50] Ian-Yy commented on #735
Hi, I've just created a PR. Please let me know if I am wrong and need to change. Thank you.

[2020-10-27 17:39] Ian-Yy commented on #735
Hi @ijlee2 @jenweber, may I know if my PR is ok?

[2020-10-29 00:16] kurkowski opened #737 ""findRecord" link on ember-data docs is dead"
**Steps to Reproduce:**
1. https://api.emberjs.com/ember-data/release/classes/Store/methods/queryRecord?anchor=queryRecord
2. Scroll down to "queryRecord" documentation.
3. In the sentence "This method makes a request for one record, where the id is not known beforehand (if the id is known, use findRecord instead)", click "findRecord".

**Expected:**
You're taken to the "findRecord" documentation

[2020-10-29 01:13] #735 closed

[2020-10-30 21:08] #731 closed

[2020-11-25 15:11] catz opened #739 "Class PromiseObject page"
Hello Ember community!

https://api.emberjs.com/ember-data/3.22/classes/PromiseObject
Got 404 from this link when clicked 'For more information see the Ember.PromiseProxyMixin documentation.'

Thank you!

[2021-03-29 17:52] broxsonl commented on #737
Hello! @krashaune and I are pairing during the contributors workshop, and would like to work on this if someone could assign it to us, please. @jenweber ?

[2021-03-29 18:31] acorncom commented on #737
@broxsonl just assigned that to you, thx! Feel free to ping me on Discord (same handle) if you need a hand there

[2021-03-29 19:40] broxsonl commented on #737
We've determined that there's actually at least half a dozen links--maybe more--that are broken due to incorrect pathing in their respective html-safe descriptions in the json artifact which builds the page. Will need to directly update the json to fix them.

Example for the issue this was created for:

`[findRecord](../classes/Store/methods/findRecord?anchor=findRecord)` is using a relative path,

[2021-04-13 06:46] runspired opened #747 "API docs appear to be down"
can't select version the dropdown, almost all links 404ing

[2021-04-13 07:08] ijlee2 commented on #747
@runspired Hmm. Can you try visiting the API docs again? I think I'm able to visit the site, select a different version of Ember, and click on internally redirected links.

[2021-04-13 09:15] runspired commented on #747
@ijlee2 I think it was a deploy issue that maybe has resolved. I had landed on the 3.26 docs. After a lot of refreshing I got to the 3.25 docs and then everything worked. I forget what causes this but we've hit it before.

[2021-04-13 09:15] #747 closed

[2021-04-20 22:56] mehulkar opened #749 "Document useFetch"
No documentation for this option:
<img width="393" alt="Screen Shot 2021-04-20 at 3 56 04 PM" src="https://user-images.githubusercontent.com/490968/115473642-ea4bef00-a1f0-11eb-8230-aac6250c277f.png">

https://api.emberjs.com/ember-data/release/classes/RESTAdapter/properties/useFetch?anchor=useFetch

[2021-04-27 15:16] lifeart opened #750 "broken highlighting"
![image](https://user-images.githubusercontent.com/1360552/116266855-8d1de380-a784-11eb-9331-5707e9d22e44.png)

https://api.emberjs.com/ember/release/modules/@glimmer%2Fcomponent

Looks like something wrong with highlight.js integration

may be related: https://github.com/ember-learn/ember-jsonapi-docs/pull/97

[2021-05-04 21:59] amyrlam opened #751 "Bug: Link to @glimmer/tracking/primitives/cache is a 404"
This link is a 404: https://api.emberjs.com/ember/release/modules/@glimmer%2Ftracking%2Fprimitives%2Fcache

![ember-bug](https://user-images.githubusercontent.com/1372946/117075099-1edba280-ace9-11eb-8b03-c1c38a7dbf4a.gif)

Reported: https://discord.com/channels/480462759797063690/480777444203429888/839224958660116533

[2021-05-04 22:08] amyrlam commented on #751
Note: "Please file a ticket" on /404 isn't as visible / noticeable as the "edit on GitHub pencil" that we have on the guides.

Look at that as part of this issue, or potentially break out into a separate issue

[2021-05-05 03:08] runspired opened #752 "API docs are publishing internal documentation as public"
code-doc comments marked @internal are now displaying as public API documentation on the ember website api docs.

historically ember-data used this to enable us to document things for contributor tooling that should not be documented in the api docs

you can see an example of [this here](https://api.emberjs.com/ember-data/release/classes/RecordArray), underscored methods now show up as public. In

[2021-05-05 17:19] amyrlam commented on #751
@mansona reports that the new redesign has exactly this functionality (edit on GitHub), just the API docs and the guides are in progress cc @elwayman02 re: https://discord.com/channels/480462759797063690/480777444203429888/839448567630004274

[2021-05-05 17:22] amyrlam commented on #751
From running locally:

![image](https://user-images.githubusercontent.com/1372946/117182877-c01b3500-ad8b-11eb-94c5-ed0ed1e68fdb.png)

[2021-05-06 02:09] jenweber commented on #752
My expectation is that docs without `@public` should not show up, regardless of their other labels. This is pretty strange.

To solve this will probably require a fix at the level of ember-jsonapi-docs, but I'm not sure.

[2021-05-06 14:45] amyrlam commented on #752
Some notes from @acorncom about the implementation (copying here, cause seems like could be useful for the mtg, from: https://discord.com/channels/480462759797063690/480777444203429888/839746419521748992)

DB:
- from what I’m seeing browsing the api docs generation code, it’s focused on consuming prebuilt yuidocs files that are published as part of the ember or ember data npm packages:  https://gi

[2021-05-06 15:27] jenweber commented on #752
@runspired would it work to add `@private` to all the `@internal` docs? That's the easiest way to ensure that docs don't show up as public moving forward.

Another option is to configure YUIdoc in the data repo to ignore certain file paths.

Is `@internal` for intellisense purposes when developing, or something else?

[2021-05-06 15:33] jenweber commented on #751
We suspect that the problem is that there are 3 segments to the path. The router only supports 2.

[2021-05-06 16:28] runspired commented on #752
@jenweber it's for intellisense when developing. I've noticed since opening this issue that not all things marked internal show up, only some. I think there may more to this mystery, I'll keep investigating but for now I've got a PR to put up that will convert all internal docs to either private or no-tag.

[2021-05-06 19:52] runspired commented on #752
@jenweber after further investigation, any doc comment not marked `@private` is considered public, not just those using `@internal`. What's more, it turns out that many public docs have been depending on that since we'd never marked them explicitly public. I wonder if this just never worked the way we thought it did.

[2021-05-07 22:34] #752 closed

[2021-05-09 00:51] amyrlam opened #756 "@ember/component/template-only page is blank"
https://api.emberjs.com/ember/release/modules/@ember%2Fcomponent%2Ftemplate-only is a blank page below the header, no content

Note: ember.js publishes yuidoc JSON, ember-jsonapi-docs transforms that JSON and puts it in S3, ember-api-docs is the front end display layer

- Run emberjs repo `cd ember.js && npx yuidoc . --server`, see if the docs are actually there at the source in yuicdoc?
- May rel

[2021-05-13 16:44] amyrlam commented on #751
@elwayman02 This is fixed locally, but not on production. There is a separate, larger issue with deploys that this issue helped uncover, that we are tracking https://github.com/ember-learn/ember-api-docs/pull/758 for now. More to come, thanks again for reporting!

[2021-05-13 22:09] mansona commented on #751
again a bit trigger happy with the closing of the issue 😂 we've solved the issues we had with deployment and we're going to go live tomorrow (in the morning for me - 10ish hours from now)

**then** we can close this issue 😂

[2021-05-14 22:41] amyrlam commented on #751
Fixed now cc @elwayman02! Huge thank you @mansona!

[2021-05-14 22:41] #751 closed

[2021-05-18 12:47] CYriuk opened #759 "Dead link on /ember-data/3.26/classes/Model"
Hello ember community 👋

On https://api.emberjs.com/ember-data/3.26/classes/Model  we have links to [EmberObject](https://api.emberjs.com/ember-data/3.26/classes/EmberObject) and [EmberData.DeprecatedEvented ](https://api.emberjs.com/ember-data/3.26/classes/EmberData.DeprecatedEvented) that result in a 404 page.

[2021-05-24 19:07] Windvis commented on #756
Related issue over in the ember.js repo: https://github.com/emberjs/ember.js/issues/19325 which should be fixed by https://github.com/emberjs/ember.js/pull/19553 :smile:.

[2021-05-26 13:22] locks commented on #332
Fixed.

[2021-05-26 13:22] #332 closed

[2021-05-26 13:28] locks commented on #520
This seems addressed.

[2021-05-26 13:28] #520 closed

[2021-05-26 13:28] locks commented on #519
Seems fixed.

[2021-05-26 13:28] #519 closed

[2021-05-26 13:31] locks commented on #441
I did a quick search and we still seem to be using a jQuery plugin.

[2021-05-26 13:32] locks commented on #335
Seems fixed!

[2021-05-26 13:32] #335 closed

[2021-05-26 13:33] locks commented on #468
The timing for a patch release is long gone 😅

[2021-05-26 13:33] #468 closed

[2021-05-26 14:29] #619 closed

[2021-05-26 14:35] #710 closed

[2021-05-26 14:35] #712 closed

[2021-05-26 14:39] #722 closed

[2021-05-26 14:39] locks commented on #722
I think this has since been addressed!

[2021-05-28 06:09] runspired commented on #638
Closed by #746 / #761

[2021-05-28 06:09] #638 closed

[2021-05-28 06:22] runspired commented on #393
I recently made Snapshot public, it will appear as so starting in 3.28

Historically, the data team has not wanted to make it public because importing/instantiating it is not a thing you can do. I added this caveat to the documentation before setting it to public.

[2021-05-28 06:22] #393 closed

[2021-05-28 06:25] runspired commented on #377
Looking at the docs for 2.16 (and today) and this issue no longer appears.

[2021-05-28 06:25] #377 closed

[2021-06-01 19:35] #759 closed

[2021-06-03 11:55] #756 closed

[2021-06-11 19:29] sandydoo opened #765 "Documented object properties are not displayed"
One example is the [`deprecate` method](https://api.emberjs.com/ember/3.26/functions/@ember%2Fdebug/deprecate). I often forget what the options are and which of them are required. The current docs don’t show them, but they are [documented in the source](https://github.com/emberjs/ember.js/blob/v3.26.1/packages/%40ember/debug/lib/deprecate.ts#L177). I'm not sure if there are any more examples like

[2021-06-29 11:58] jenweber opened #769 "Replace jquery animation"
The table of contents has an animation where, when you click some categories in the table of contents, they collapse or expand.

This is the last use of jquery in this app, so if we can remove it, we will reduce bundle size!

To do:
- Replace the animation with a plain CSS + JavaScript animation (no liquid fire or Ember animated)
- Write a test if there isn’t already one

Thanks for the help!

[2021-06-29 12:32] swarajpure commented on #769
I'd like to work on this one. Can I get this assigned to me please?

[2021-06-29 13:32] jenweber commented on #769
Done! Thanks for working on this.

[2021-08-12 12:33] #769 closed

[2021-10-01 19:04] rajakvk opened #775 "Fix eslint issues"
Fix eslint issues in the files merged along with PR #774

Files:
1. app/adapters/application.js #776
2. app/components/api-index-filter.js #777
3. app/components/api-index.js #777
4. app/components/class-field-description.js  #778
5. app/components/ember-anchor.js #779
6. app/components/search-input/dropdown.js #781
7. app/controllers/method.js #782
8. app/controllers/project-version.js #783
9. ap

[2021-11-08 01:28] #775 closed

[2021-11-11 16:20] locks opened #786 "Convert services to use native class syntax"
At the moment, most of the services seem to already use native `class` syntax, except for these two:

- [ ] https://github.com/ember-learn/ember-api-docs/blob/master/app/services/search.js
- [ ] https://github.com/ember-learn/ember-api-docs/blob/master/app/services/algolia.js

assigned: @rajakvk

[2021-12-20 22:15] locks opened #787 "Add shoebox to mappings.json/ember.json/ember-<version>.json"

[2022-01-07 09:54] ctjhoa opened #788 "Algolia search is broken"
**Reproduction steps**
- Go to https://api.emberjs.com/ember/release
- Type any existing method in the search bar (eg. `factoryFor`)
- Note that suggested links are weird (eg. `https://api.emberjs.com/ember/release/classes/ember/methods/4.1?anchor=factoryFor`; suppose to be `https://api.emberjs.com/ember/4.1/classes/ApplicationInstance/methods/factoryFor?anchor=factoryFor`)
- Click on any suggeste

[2022-01-10 14:51] jenweber commented on #788
Thank you so much for reporting this! We are looking into it.

[2022-01-10 15:18] jenweber commented on #788
Search should be working in production now. I deployed a much earlier commit (`jw-search-debugging-2`) to get search working and buy us some time to find the bug.

I discovered that this is a front end problem in the ember app itself. It sure has the look of a mistake in some logic, where we are putting the version number where the path to the method should be.  This app went through a ton of revi

[2022-01-21 14:02] jenweber commented on #788
@mansona is going to have a look at this.

Examples:

Broken: http://localhost:4200/ember/release/classes/ember/methods/4.1?anchor=forEach
Correct https://api.emberjs.com/ember/4.1/classes/EmberArray/methods/forEach?anchor=forEach

Acceptance test we want to write:

- start at homepage
- does a search
- makes sure it goes to the right place

[2022-01-24 13:46] #788 closed

[2022-02-24 08:06] andreyfel opened #795 "Document nullish timer argument for cancel()"
Current documentation doesn't mention that the timer argument can be undefined/null:
https://api.emberjs.com/ember/4.1/functions/@ember%2Frunloop/cancel

However, the implementation allows that:
https://github.com/BackburnerJS/backburner.js/blob/af77b18f37ec24e89f65bef0ce16bc3c8d1f4bfb/lib/index.ts#L551

In fact, in our code, we were leveraging the fact that you can pass undefined as the timer arg

[2022-04-12 21:04] NullVoxPopuli opened #797 "deprecate (ember/debug) docs are not pulling in right information?"
The docs for deprecate are thorough and helpful:
https://github.com/emberjs/ember.js/blob/v4.3.0/packages/%40ember/debug/lib/deprecate.ts#L177

but it seems they don't make it to the API docs site : https://api.emberjs.com/ember/release/functions/@ember%2Fdebug/deprecate ?

[2022-04-12 21:22] chancancode commented on #795
Personally, I think the app code _should_ write the conditional for clarity, but I think the intention here is to match the DOM apis for `clearTimeout` etc, and since TS also marks that as `?` it seems fine to do the same.

[2022-04-13 13:17] ctjhoa opened #798 "Wrong 404 on navbar links"
**Reproduction steps**
- Open a new browser tab to https://api.emberjs.com/ember/release/classes/Ember.Templates.helpers/methods/let?anchor=let (this link is accessible from https://guides.emberjs.com/release/components/helper-functions/#toc_built-in-helpers)
- Scroll at the top of the page
- Click on navbar `@ember/object` (other links leads to this issue as well ; eg. `@ember/engine` )
- You've

[2022-04-20 03:25] jenweber commented on #797
I think this will be solved via https://github.com/ember-learn/ember-api-docs/pull/780

[2022-04-20 03:27] #670 closed

[2022-04-20 03:42] #765 closed

[2022-04-20 18:43] lfekson opened #801 "Page not found in API documentation"
"ACK! 404 FRIEND, YOU'RE IN THE WRONG PLACE" when you click on https://api.emberjs.com/ember/release/classes/TextField link on https://api.emberjs.com/ember/release/classes/Ember.Templates.components/methods/Input?anchor=Input page.

[2022-04-25 19:29] jacobq commented on #801
Thanks for reporting. When I've run into stuff like this before, annoying as it is, I've often found that it's due to deprecated or removed API (i.e. the thing being referred to doesn't exist in the version you're looking at, but the text/links haven't been updated to reflect this). I do hope that someone will fix the docs site generator code to better support historical versions (e.g. when viewin

[2022-06-02 22:07] jacobq commented on #672
FWIW, this is still broken :'( (See also #704 & #801)

I ran into this again today while browsing API docs for ember-data. I clicked the link for `createRecord` [here](https://api.emberjs.com/ember-data/release/classes/Store#store-createrecord-vs-push-vs-pushpayload). The correct/working link [adds a `classes/Store/` in the path](https://api.emberjs.com/ember-data/4.4/classes/Store/methods/createR

[2022-06-13 09:26] tniezurawski opened #803 "API docs content should be rendered in the all available space for content"
I was trying to find the right place to raise an issue and a PR fixing it... but I guess there are too many moving things in the way the docs are built so I got lost 😅

Here's the deal. APIs with a small amount of text are not rendered in 100% width:

![image](https://user-images.githubusercontent.com/4335166/173322607-93b75e7e-9915-449b-8308-8d132f9e80f0.png)

Shouldn't it be rendered this way?

[2022-06-24 12:44] jenweber commented on #765
Hello! This is now live. Our deployment pipeline had an issue blocking deployments, and it's fixed now. Thanks again for your work on this!

[2022-07-06 00:31] geneukum opened #805 "Resolve ember/no-classic-components deprecation"
Right now, there are a bunch of classic components in ember-api-docs. It would be nice to work through those and upgrade them all to use native syntax and extend from glimmer/component. The components requiring modifications are:

- [ ]  app/components/api-index-filter.js
- [ ]  app/components/api-index.js
- [ ]  app/components/class-field-description.js
- [ ]  app/components/import-example.js
- [

[2022-10-28 14:40] #692 closed

[2022-10-28 14:41] #691 closed

[2022-10-28 14:41] #689 closed

[2022-10-28 14:41] #690 closed

[2022-11-08 15:25] derrabauke opened #816 "Search does not list Class all properties nor methods"
When I'm trying to find a method on a Class of the API, let's say `route` => `model`. This does not appear in the search result list of the search dropdown. Further example: `controller` => `queryParams` property

![api-search-model](https://user-images.githubusercontent.com/10029904/200603436-561bf2c1-7f5f-4cda-876a-6987addb6e63.png)

## Expected
The search results lists all class properties and